label, input, textarea{ display: block;

}




body{ background-image: url("");
background-color: black;
background-repeat:no-repeat;
background-size: cover;
transition: background-color 1s;
background-image: linear-gradient(black, black),





}



background-image{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}


body {
    text-align: center;
}
form {
    display: inline-block;
}


label {
    margin-bottom: 15px;
}

h2{ color: white; }
label{color: white;}

a{ color: white;
text-decoration: none;
margin-top: 5%;

 }

 a:hover, a:active {
  color: yellow;

}


li{color: white;  list-style: none; text-align: right; margin-right: 34%;}
h3, h4{ color: white;}

button:hover{ background-color: yellow;  }

input, textarea{ text-align: right; 
    width: 300px;
} 

p{color: white; margin-top: 5%;}
